# InfluxDB
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=changeme
INFLUXDB_ORG=home
INFLUXDB_BUCKET=solar
INFLUXDB_TOKEN=changeme-generate-a-long-random-token

# Restic / Azure Blob Storage
RESTIC_REPOSITORY=azure:solarmon-backup:/
RESTIC_PASSWORD=changeme-restic-repo-password
AZURE_ACCOUNT_NAME=yourstorageaccount
AZURE_ACCOUNT_KEY=yourstorageaccountkey
